
Homework/.DS_Store
Homework/SILVA_SSU_r138_2019.rdata
Homework/UAF_RNASeq_Lecture-main.zip
Homework/UAF_RNASeq_Lecture-main/DESeq2.R
Homework/UAF_RNASeq_Lecture-main/DESeq2_HW.R
Homework/UAF_RNASeq_Lecture-main/EXAMPLE_col_data.csv
Homework/UAF_RNASeq_Lecture-main/EXAMPLE_count_data.csv
Homework/UAF_RNASeq_Lecture-main/gene_expression_results_full.csv
Homework/UAF_RNASeq_Lecture-main/gene_expression_results_full_HW.csv
Homework/UAF_RNASeq_Lecture-main/gene_expression_results_sigs.csv
Homework/UAF_RNASeq_Lecture-main/gene_expression_results_sigs_HW.csv
Homework/UAF_RNASeq_Lecture-main/HW_col_data.csv
Homework/UAF_RNASeq_Lecture-main/HW_count_data.csv
Homework/UAF_RNASeq_Lecture-main/LICENSE
Homework/UAF_RNASeq_Lecture-main/README.md
Homework/UAF_RNASeq_Lecture-main/sample_fastqc.sh
Homework/UAF_RNASeq_Lecture-main/sample_hisat2.sh
Homework/UAF_RNASeq_Lecture-main/sample_stringtie.sh
Homework/UAF_RNASeq_Lecture-main/sample_trimmomatic.sh
Homework/UAF_RNASeq_Lecture-main/WGCNA_module_1.tsv
Data/20220126_LiaMiFisheDNA.zip
Data/.DS_Store
.Rhistory
.Rproj.user/69C7AD83/pcs/debug-breakpoints.pper
.Rproj.user/69C7AD83/pcs/files-pane.pper
.Rproj.user/69C7AD83/pcs/windowlayoutstate.pper
.Rproj.user/69C7AD83/pcs/source-pane.pper
.Rproj.user/69C7AD83/pcs/workbench-pane.pper
.Rproj.user/69C7AD83/rmd-outputs
.Rproj.user/69C7AD83/saved_source_markers
.Rproj.user
Data/eDNA_files/.DS_Store
Data/eDNA_files/trimmed/.DS_Store
Data/eDNA_files/trimmed/.RData
*.fastq
*.gz
Data/eDNA_files/trimmed/tossers/.DS_Store
